html, body {
  background-color: rgb(240, 248, 239);
  box-sizing: border-box;
}

.problem {
  margin: 2.5em auto 2.5em auto;
  width: 40%;
  height: 80%;
  font-size: 1.3em;
  font-family: Courier New;
  text-align: justify;
}

.container {
  margin: 5em auto;
  width: 600px;
  height: 600px;
}