.container

  .track1
  .track2
  .track3
  .track4
    - for (var i=0; i<5; i++)
      .track
      
  .texture1
  .texture2
  .texture3
  .texture4
  .texture5

.container2
  .cylinder1
  .cylinder2