html, body {
  background-color: Black;
}

html {
  box-sizing: border-box;
}

* {
  position: absolute;
}

*:before, *:after {
  position: absolute;
  content: "";
}

.background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.stars {
  /*
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  */
}
.stars .star {
  border-radius: 50%;
  background-color: #b9befa;
}
.stars .star:nth-of-type(1) {
  top: 34vh;
  left: 39vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(2) {
  top: 23vh;
  left: 38vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(3) {
  top: 1vh;
  left: 79vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(4) {
  top: 83vh;
  left: 97vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(5) {
  top: 42vh;
  left: 49vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(6) {
  top: 35vh;
  left: 2vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(7) {
  top: 69vh;
  left: 75vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(8) {
  top: 67vh;
  left: 47vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(9) {
  top: 22vh;
  left: 70vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(10) {
  top: 25vh;
  left: 40vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(11) {
  top: 36vh;
  left: 74vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(12) {
  top: 28vh;
  left: 1vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(13) {
  top: 22vh;
  left: 10vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(14) {
  top: 15vh;
  left: 9vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(15) {
  top: 2vh;
  left: 23vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(16) {
  top: 15vh;
  left: 42vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(17) {
  top: 58vh;
  left: 65vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(18) {
  top: 11vh;
  left: 96vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(19) {
  top: 9vh;
  left: 37vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(20) {
  top: 55vh;
  left: 32vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(21) {
  top: 7vh;
  left: 90vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(22) {
  top: 87vh;
  left: 97vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(23) {
  top: 82vh;
  left: 20vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(24) {
  top: 98vh;
  left: 84vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(25) {
  top: 71vh;
  left: 75vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(26) {
  top: 98vh;
  left: 88vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(27) {
  top: 43vh;
  left: 41vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(28) {
  top: 90vh;
  left: 31vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(29) {
  top: 5vh;
  left: 31vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(30) {
  top: 67vh;
  left: 39vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(31) {
  top: 25vh;
  left: 78vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(32) {
  top: 98vh;
  left: 95vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(33) {
  top: 82vh;
  left: 92vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(34) {
  top: 32vh;
  left: 5vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(35) {
  top: 41vh;
  left: 62vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(36) {
  top: 8vh;
  left: 91vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(37) {
  top: 97vh;
  left: 96vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(38) {
  top: 81vh;
  left: 2vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(39) {
  top: 98vh;
  left: 91vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(40) {
  top: 4vh;
  left: 32vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(41) {
  top: 86vh;
  left: 43vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(42) {
  top: 20vh;
  left: 96vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(43) {
  top: 68vh;
  left: 98vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(44) {
  top: 40vh;
  left: 51vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(45) {
  top: 39vh;
  left: 30vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(46) {
  top: 15vh;
  left: 67vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(47) {
  top: 70vh;
  left: 71vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(48) {
  top: 7vh;
  left: 25vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(49) {
  top: 12vh;
  left: 84vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(50) {
  top: 28vh;
  left: 61vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(51) {
  top: 69vh;
  left: 42vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(52) {
  top: 24vh;
  left: 1vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(53) {
  top: 50vh;
  left: 61vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(54) {
  top: 59vh;
  left: 12vw;
  width: 4px;
  height: 4px;
}
.stars .star:nth-of-type(55) {
  top: 10vh;
  left: 10vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(56) {
  top: 9vh;
  left: 54vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(57) {
  top: 68vh;
  left: 14vw;
  width: 3px;
  height: 3px;
}
.stars .star:nth-of-type(58) {
  top: 41vh;
  left: 22vw;
  width: 1px;
  height: 1px;
}
.stars .star:nth-of-type(59) {
  top: 62vh;
  left: 5vw;
  width: 2px;
  height: 2px;
}
.stars .star:nth-of-type(60) {
  top: 16vh;
  left: 50vw;
  width: 1px;
  height: 1px;
}

.container {
  width: 700px;
  height: 700px;
  transform: translate(80%, 10%);
}

.hermes {
  width: 180px;
  height: 130px;
  top: 0%;
  left: 2%;
  animation: moveRight 5s linear infinite;
}

.cylinder1 {
  width: 80%;
  height: 6px;
  background-color: LightGrey;
  left: 0%;
  top: 40%;
  border-radius: 6px;
}
.cylinder1:before {
  width: 20%;
  height: 17px;
  right: 20px;
  bottom: -4px;
  border-radius: 30%;
  background-color: LightSlateGrey;
}
.cylinder1:after {
  width: 20%;
  height: 16px;
  left: 33px;
  bottom: -4px;
  border-radius: 10%;
  background-color: LightSlateGrey;
}

.wing1 {
  width: 6px;
  height: 50%;
  background-color: #FEE069;
  left: 24px;
  top: 20px;
  transform: rotate(10deg);
}

.wing1:nth-child(2) {
  left: 73px;
  transform: rotate(0deg);
}

.wing1:nth-child(3) {
  left: 83px;
  transform: rotate(0deg);
}

.lines {
  width: 100%;
  height: 1px;
  background-color: DarkSlateGray;
}

.lines:nth-of-type(1) {
  top: 5px;
}

.lines:nth-of-type(2) {
  top: 12.5px;
}

.lines:nth-of-type(3) {
  top: 20px;
}

.lines:nth-of-type(4) {
  top: 27.5px;
}

.lines:nth-of-type(5) {
  top: 35px;
}

.lines:nth-of-type(6) {
  top: 42.5px;
}

.lines:nth-of-type(7) {
  top: 50px;
}

.lines:nth-of-type(8) {
  top: 57.5px;
}

.spacecraft {
  width: 15px;
  height: 33px;
  bottom: 44%;
  left: 47%;
  border-radius: 50% 50% 25% 25%;
  background-image: linear-gradient(PaleTurquoise, PaleTurquoise 19.5%, MediumPurple 21.5%);
  animation: moveUp 5s linear infinite;
}
.spacecraft:after {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: PaleTurquoise;
  top: 40%;
  left: 24%;
}

.wingLeft {
  width: 5px;
  height: 9px;
  border-radius: 20%;
  background-color: PaleTurquoise;
  left: -18%;
  bottom: -10%;
  transform: skew(0deg, -40deg);
}

.wingRight {
  width: 5px;
  height: 9px;
  border-radius: 20%;
  background-color: PaleTurquoise;
  right: -18%;
  bottom: -10%;
  transform: skew(0deg, 40deg);
}

.horizontal {
  width: 28%;
  height: 10%;
  border-top: 2px dashed Gray;
  left: 20%;
  top: 7.7%;
}

.vertical {
  width: 28%;
  height: 43%;
  border-right: 2px dashed Gray;
  left: 20%;
  top: 7.7%;
}
.vertical:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: Gray;
  top: -1%;
  right: -3%;
}

@keyframes moveRight {
  5%, 50.1% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(13%);
  }
}
@keyframes moveUp {
  5%, 50.1% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-75%);
  }
}
