
.background

  .stars
    - for (var i=0; i<60; i++)
      .star
  
  .container 
    .horizontal
    .vertical
  
    .hermes 
      - for (var j=0; j<4; j++)
        .wing1
          - for (var k=0; k<8; k++)
            .lines
      .cylinder1
  
    .spacecraft
      .wingLeft
      .wingRight