.container

  .cloud1-group
    .cloud-side
    .cloud-up1
    .cloud-up2

  .cloud2-group
    .cloud-side
    .cloud-up1
    .cloud-up2

  .cloud3-group
    .cloud-side
    .cloud-up1
    .cloud-up2

  .cloud4-group
    .cloud-side
    .cloud-up1
    .cloud-up2

  .posts
    - for (var i=0; i<27; i++)
      .post
   
  .track
  
  .loop1
    .ride1
    
  .loop2
    .ride2