@import url('https://fonts.googleapis.com/css?family=Questrial');

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
  font-size: 5em;
  padding: 1em;
  font-family: 'Questrial';
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  /* background: deepskyblue; */
  padding: 1em;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}
@media all and (min-width: 800px) {
  .main   { flex: 8 0px; }
  .main   { order: 1; }
  .footer { order: 2; }
}

body {
  padding: 3em;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  /* background: tomato; */
  padding: 5px;
  width: 300px;
  height: 400px;
  margin-top: 40px;
  line-height: 40px;
  color: red;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#cointoss {
  transform: translateY(54%);
}

#loopdeloop {
  transform: translateY(20%);
}

#cylindricalroom {
  transform: translateY(20%);
}

#sodacan {
  transform: translateY(5%);
}

#multiplecollisions {
  transform: translateY(20%);
}